
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: #002147; 
    color: #FFD700; 
}

.contenedor h1 {
    font-size: 3rem !important;
}


@media screen and (max-width: 900px) {
    .contenedor {
        background-color: #E10600; 
    }

    .contenedor h1 {
        font-size: 5rem !important;
        text-decoration: line-through;
        color: #FFD700; 
    }
}


@media screen and (max-width: 468px) {
    .contenedor {
        background-color: #FFD700; 
    }

    .contenedor h1 {
        font-size: 2rem !important;
        text-decoration: underline;
        background-color: #E10600; 
        color: #002147; 
        padding: 10px;
        border-radius: 5px;
    }
}
